@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow__node {
  cursor: pointer;
}
.react-flow__handle {
  opacity: 0 !important;
  pointer-events: none;
}
.react-flow__attribution {
  display: none;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #d1d5db; border-radius: 2px; }
